
.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid rgb(64, 0, 255);
}

#start ,#status, #restart
{
font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
h4
{
   background-color: rgb(0, 255, 195);
   color:rgb(0, 4, 255);
   line-height: 2;
}
canvas 
  {
      border:3px solid rgb(0, 255, 255);
      border-radius: 20px;
      animation-name: a;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  @keyframes a{
      from{
          box-shadow: 4px 4px 4px rgb(138, 54, 255);
      }
      to{
          box-shadow: 40px 40px 40px rgb(0, 64, 255);
      }
  }